:root {
  --azul-escuro: #2B80B0;
  --azul-transparente: rgba(43, 128, 176, 0.76);
  --azul-medio: #3a83ad;
  --amarelo: #FABE2C;
  --amarelo-shadow: 0px 0px 7px #FABE2C;
  --font: normal 16px "Exo", sans-serif;
  --font-family: "Exo", sans-serif;
  --azul-background: #D3E4E9;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  font: var(--font);
}

.btn-link {
  border-radius: 10px;
  padding: 10px 2%;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  font-family: var(--font-family);
  font-size: 18px;
}

.btn-link:hover {
  -webkit-box-shadow: var(--amarelo-shadow);
          box-shadow: var(--amarelo-shadow);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section-titulo {
  color: var(--azul-escuro);
  text-align: center;
  font-size: 40px;
  margin: 0 50px;
}

.section-individual {
  padding: 90px 0;
  width: 100%;
}

.section-padrao {
  padding: 90px 0;
  width: 100%;
}

.btn-link-section {
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--amarelo);
  font-size: 20px;
}

a:visited, a:link, a:active {
  text-decoration: none;
}

.btn-centralizar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#footer-index {
  background: var(--azul-escuro);
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

#footer-index .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer-index .redes a {
  margin: 0 10px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

#footer-index .redes a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#footer-index p {
  text-align: center;
  margin: 20px 0;
}

@media (max-width: 994px) {
  #footer-index {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 500px) {
  #footer-index {
    padding-left: 20px;
    padding-right: 20px;
  }
  .btn-link {
    font-size: 16px;
  }
  .section-titulo {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 30px;
  }
}

#navbar {
  background-color: var(--azul-escuro);
  -webkit-box-shadow: 0px 4px 23px rgba(43, 128, 176, 0.76);
          box-shadow: 0px 4px 23px rgba(43, 128, 176, 0.76);
  position: fixed;
  width: 100%;
  z-index: 10;
}

.bar {
  display: none;
}

.navbar-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 50px;
}

.navbar-conteudo .logo img {
  height: 50px;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.25));
          filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.25));
}

.menu-topicos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-topicos a {
  font-weight: 600;
  text-transform: uppercase;
}

.menu-topicos a,
.menu-topicos a:visited,
.menu-topicos a:link {
  text-decoration: none;
  color: #fff;
}

.menu-topicos a:hover {
  opacity: 0.85;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-topicos li {
  list-style: none;
  margin: 0 7px;
}

button {
  border: none;
  background: none;
}

.botao-entrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

#btn-mobile {
  display: none;
}

@-webkit-keyframes efeito {
  from {
    margin-top: -0.5%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes efeito {
  from {
    margin-top: -0.5%;
  }
  to {
    margin-top: 0%;
  }
}

@media (max-width: 994px) {
  .bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    display: block;
    z-index: 5;
  }
  .menu-topicos {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    top: 75px;
    right: 0px;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    display: none;
    height: 0px;
  }
  .menu-topicos a:hover {
    text-shadow: none;
  }
  .menu-topicos li {
    margin: 0;
  }
  .nav-item,
  .botao-entrar {
    width: 100%;
    text-align: center;
    background: #569ac2;
    padding: 10px 0;
    display: block;
    border-bottom: 1px solid #d9e3e92d;
  }
  .navbar-conteudo.active .menu-topicos {
    display: block;
    -webkit-animation-name: efeito;
            animation-name: efeito;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s;
  }
  #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  .hamburger {
    width: 20px;
    border-radius: 2px;
  }
  .hamburger {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background: #fff;
    margin-top: 5px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: relative;
  }
  .navbar-conteudo.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }
  .navbar-conteudo.active span:nth-child(2) {
    opacity: 0;
  }
  .navbar-conteudo.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -7px;
  }
}

@media (max-width: 500px) {
  .navbar-conteudo {
    padding: 10px 20px;
  }
}

#home {
  height: 100%;
  width: 100%;
  background: url("../img/home/background1.jpg") no-repeat center;
  background-size: cover;
}

#home .overlay {
  background: #5fa7d17e;
  width: 100%;
  height: 100%;
}

#home .home-conteudo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

#home .home-titulo {
  color: var(--azul-transparente);
  font-size: 45px;
  margin: 10px 50px 0;
}

#home .home-subtitulo {
  color: var(--azul-medio);
  font-size: 45px;
  margin: 0 50px;
  font-weight: 600;
}

#home .home-btn {
  margin: 30px 50px;
}

#home .home-btn-h {
  background: var(--amarelo);
  margin-right: 10px;
}

@media (max-width: 500px) {
  #home .home-titulo, #home .home-subtitulo {
    font-size: 35px;
  }
  #home .home-titulo {
    margin: 0 20px;
  }
  #home .home-subtitulo {
    margin-left: 20px;
    margin-right: 20px;
  }
  #home .home-btn {
    margin-left: 20px;
    margin-right: 20px;
  }
  #home .home-btn-h {
    padding: 10px;
  }
}

#sobre1 {
  background: var(--azul-transparente);
}

#sobre1 .section-titulo {
  color: #fff;
}

#sobre1 .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin: 20px 0;
}

#sobre1 .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 21px rgba(255, 255, 255, 0.33);
          box-shadow: 0px 4px 21px rgba(255, 255, 255, 0.33);
  border-radius: 10px;
  height: 250px;
  width: 200px;
  margin: 20px 20px;
}

#sobre1 .card img {
  margin-bottom: 10px;
  width: 130px;
  height: auto;
  padding: 25px;
}

#sobre1 .card h3 {
  padding-bottom: 30px;
  color: var(--azul-escuro);
  font-size: 20px;
}

#sobre2 {
  background: var(--azul-background);
}

#sobre2 .sobre-conteudo {
  margin: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sobre2 .sobre-conteudo_direita, #sobre2 .sobre-conteudo_esquerda {
  width: 50%;
}

#sobre2 .sobre-conteudo_direita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sobre2 .sobre-img-idea {
  width: 70%;
  max-width: 486px;
  min-width: 400px;
  height: auto;
}

#sobre2 .p-sobre {
  margin-bottom: 30px;
}

#sobre2 .p-sobre, #sobre2 .h3-sobre {
  font-size: 20px;
  line-height: 40px;
  text-align: justify;
  margin-right: 30px;
}

@media (max-width: 994px) {
  #sobre1 .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sobre1 .setas {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    z-index: 0;
  }
  #sobre2 .sobre-conteudo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sobre2 .sobre-conteudo_direita, #sobre2 .sobre-conteudo_esquerda {
    width: 100%;
  }
  #sobre2 .sobre-img-idea {
    margin-top: 30px;
  }
  #sobre2 .h3-sobre, #sobre2 .p-sobre {
    margin-right: 0;
  }
  #sobre2 .h3-sobre {
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  #sobre1 .card h3 {
    font-size: 18px;
  }
  #sobre2 .sobre-img-idea {
    min-width: 300px;
  }
  #sobre2 .sobre-conteudo {
    margin-left: 20px;
    margin-right: 20px;
  }
  #sobre2 .h3-sobre, #sobre2 .p-sobre {
    font-size: 18px;
  }
}

#eventos .eventos-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px 50px;
  width: calc(100% - 100px);
}

#eventos .eventos-conteudo_card {
  width: 30%;
  margin: 0 10px;
}

#eventos .calendario {
  -webkit-filter: invert(41%) sepia(72%) saturate(508%) hue-rotate(158deg) brightness(92%) contrast(86%);
          filter: invert(41%) sepia(72%) saturate(508%) hue-rotate(158deg) brightness(92%) contrast(86%);
  width: 30px;
  height: auto;
}

#eventos .h3-eventos {
  color: var(--azul-escuro);
  text-align: center;
  font-size: 20px;
}

#eventos .h3-eventos:hover {
  opacity: 0.90;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

#eventos .p-eventos {
  margin: 20px 0;
  font-size: 16px;
}

#eventos .eventos-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#eventos .p-data {
  color: var(--azul-escuro);
  margin-left: 10px;
  font-size: 16px;
}

@media (max-width: 994px) {
  #eventos .eventos-conteudo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #eventos .eventos-conteudo_card {
    width: 100%;
    margin: 30px 0;
  }
}

@media (max-width: 500px) {
  #eventos .eventos-conteudo {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
  #eventos .h3-eventos {
    font-size: 18px;
  }
  #eventos .calendario {
    width: 27px;
  }
}

#publi {
  background-image: url("../img/publicacoes/background_publicacoes.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#publi .overlay1 {
  background: #5fa7d17e;
  width: 100%;
}

#publi .overlay2 {
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
}

#publi .publicacoes-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px 50px;
}

#publi .publicacoes-conteudo_esquerda, #publi .publicacoes-conteudo_direita {
  width: 50%;
}

#publi .publicacoes-conteudo_esquerda {
  margin-right: 20px;
}

#publi .publicacoes-conteudo_direita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 20px;
}

#publi .publicacoes-conteudo_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 1px 5px 1px rgba(255, 255, 255, 0.87);
          box-shadow: 0px 1px 5px 1px rgba(255, 255, 255, 0.87);
  border-radius: 20px;
  background: #FFFFFF;
  padding: 20px 25px;
}

#publi .publicacoes-conteudo .publicacoes-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

#publi .publicacoes-conteudo .publicacoes-titulo img {
  width: 50px;
  height: auto;
}

#publi .publicacoes-conteudo .h3-publi {
  font-size: 20px;
}

#publi .publicacoes-conteudo .h4-publi {
  font-size: 18px;
  color: var(--azul-escuro);
}

#publi .publicacoes-conteudo .p-publi {
  font-size: 18px;
  margin-bottom: 5px;
}

#publi .btn-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: 10px;
}

#publi .btn-txt p {
  text-transform: uppercase;
  margin-right: 5px;
  font-size: 18px;
}

#publi .btn-redondo {
  width: 30px;
  height: 30px;
  background-color: var(--azul-escuro);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#publi .btn-redondo img {
  width: 15px;
  height: auto;
}

#publi .btn-redondo:hover {
  -webkit-box-shadow: 0px 1px 4px #2B80B0;
          box-shadow: 0px 1px 4px #2B80B0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#publi .p-publi-direita {
  font-size: 20px;
  text-align: justify;
}

#publi .btn-text-direita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 994px) {
  #publi .publicacoes-conteudo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #publi .publicacoes-conteudo_esquerda, #publi .publicacoes-conteudo_direita {
    width: 100%;
    margin-left: 0;
    margin: 20px 0;
  }
  #publi .btn-text-direita {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  #publi .publicacoes-conteudo {
    margin-left: 20px;
    margin-right: 20px;
  }
  #publi .publicacoes-conteudo .h3-publi {
    font-size: 18px;
  }
  #publi .p-publi-direita {
    font-size: 18px;
  }
}

#noticias .noticias-conteudo {
  margin: 50px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#noticias .noticias-conteudo_card {
  width: 30%;
  background: rgba(43, 127, 176, 0.164);
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#noticias .h3-noticias {
  color: var(--azul-escuro);
  font-size: 20px;
}

#noticias .h3-noticias:hover {
  opacity: 0.90;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

#noticias .p-data {
  color: var(--azul-escuro);
  margin: 5px 0 20px 0;
}

#noticias .p-noticias-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
}

@media (max-width: 994px) {
  #noticias .noticias-conteudo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #noticias .noticias-conteudo_card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 500px) {
  #noticias .noticias-conteudo {
    margin-left: 20px;
    margin-right: 20px;
  }
  #noticias .h3-noticias {
    font-size: 18px;
  }
}

#equipe {
  background: #2B80B0;
}

#equipe .section-titulo {
  color: #fff;
}

#equipe .background-img {
  width: 190px;
  height: 190px;
  border-radius: 100%;
}

#equipe .equipe-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px;
}

#equipe .equipe-integrante {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  width: 30%;
}

#equipe .img-integrante {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}

#equipe .h3-equipe {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}

#equipe .p-equipe {
  color: #fff;
  font-size: 18px;
  text-align: center;
}

@media (max-width: 994px) {
  #equipe .equipe-conteudo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #equipe .equipe-integrante {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #equipe .equipe-conteudo {
    margin-left: 20px;
    margin-right: 20px;
  }
  #equipe .h3-equipe {
    font-size: 18px;
  }
  #equipe .p-equipe {
    font: 16px;
  }
}

.apoio-conteudo {
  margin: 50px;
}

.img-slick {
  width: 250px;
  height: auto;
}

@media (max-width: 994px) {
  .img-slick {
    width: 200px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .img-slick {
    width: 150px;
    height: auto;
  }
}

#contato {
  background: var(--azul-background);
}

.contato-conteudo {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contato-conteudo-cima {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 50px;
}

.contato-conteudo-cima iframe {
  width: 48%;
  margin-right: 5px;
  border-radius: 20px;
  -webkit-filter: drop-shadow(0px 0px 6px #58B8B6);
          filter: drop-shadow(0px 0px 6px #58B8B6);
}

.form-padrao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 48%;
  margin-left: 5px;
}

.form-padrao input,
.form-padrao textarea {
  background: rgba(255, 255, 255, 0.85);
  border-radius: 20px;
  border: none;
  padding: 20px 10px;
  margin-bottom: 20px;
  font: var(--font);
  resize: none;
}

.form-padrao input::-webkit-input-placeholder,
.form-padrao textarea::-webkit-input-placeholder {
  color: rgba(34, 83, 112, 0.41);
}

.form-padrao input:-ms-input-placeholder,
.form-padrao textarea:-ms-input-placeholder {
  color: rgba(34, 83, 112, 0.41);
}

.form-padrao input::-ms-input-placeholder,
.form-padrao textarea::-ms-input-placeholder {
  color: rgba(34, 83, 112, 0.41);
}

.form-padrao input::placeholder,
.form-padrao textarea::placeholder {
  color: rgba(34, 83, 112, 0.41);
}

.form-padrao .enviar-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contato-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--azul-escuro);
  margin-right: 10px;
}

.contato-icon img {
  -webkit-filter: invert(39%) sepia(87%) saturate(418%) hue-rotate(157deg) brightness(95%) contrast(88%);
          filter: invert(39%) sepia(87%) saturate(418%) hue-rotate(157deg) brightness(95%) contrast(88%);
  margin-right: 5px;
  width: 35px;
  height: auto;
}

.contato-conteudo-baixo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 994px) {
  #contato iframe {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-padrao {
    width: 100%;
    margin-left: 0;
  }
  .contato-conteudo-cima {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contato-conteudo-baixo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contato-icon {
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  #contato .contato-conteudo {
    margin-left: 20px;
    margin-right: 20px;
  }
  #contato .form-padrao input, #contato .form-padrao textarea {
    padding: 10px;
    font-size: 15px;
  }
}
/*# sourceMappingURL=index.css.map */