:root {
    --azul: #2B80B0
}

* {
    padding: 0;
    margin: 0;
}

body,
html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
    font: normal 16px "Exo", sans-serif;
}

#navbar {
    background-color: var(--azul);
    box-shadow: 0px 4px 23px rgba(43, 128, 176, 0.76);
}

.bar {
    display: none;
}

.navbar-conteudo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;


    .logo img {
        height: 50px;
        filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.25));

    }
}

.menu-mobile {
    display: none;
}

.menu-topicos {
    display: flex;
    align-items: center;

    a {
        font-weight: 600;
        text-transform: uppercase;
    }

    a,
    a:visited,
    a:link {
        text-decoration: none;
        color: #fff;
    }

    a:hover {
        text-shadow: 0px 1px 9px #FFE666;
    }

    a:active {
        text-shadow: 0px 1px 9px #FFE666;
    }

    li {
        list-style: none;
        margin: 0 7px;
    }
}

button {
    border: none;
    background: none;
}

.botao-entrar {
    display: flex;
    cursor: pointer;
}

.item-ativado {
    text-shadow: 0px 1px 9px #FFE666;
}

/*MENU**************************************************************************/
#btn-mobile {
    display: none;
}


@-webkit-keyframes efeito {
    from {
        margin-top: -0.5%;
    }

    to {
        margin-top: 0%;
    }
}

@keyframes efeito {
    from {
        margin-top: -0.5%;
    }

    to {
        margin-top: 0%;
    }
}

@media (max-width: 994px) {
    .bar {
        display: flex;
    }

    .menu {
        position: relative;
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .menu-topicos {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 75px;
        right: 0px;
        transition: 0.6s;
        display: none;
        height: 0px;

        a:hover {
            text-shadow: none;
        }
    }

    .menu-topicos li {
        margin: 0;
    }

    .nav-item,
    .botao-entrar {
        width: 100%;
        text-align: center;
        background: #2b7fb0bd;
        padding: 10px 0;
        display: block;
        border-bottom: 1px solid #d9e3e92d;
    }

    .navbar-conteudo.active .menu-topicos {
        display: block;
        animation-name: efeito;
        animation-duration: 0.3s;
    }


    #btn-mobile {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        border: none;
        cursor: pointer;
    }

    .hamburger {
        width: 20px;
        border-radius: 2px;
    }

    .hamburger {
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background: #fff;
        margin-top: 5px;
        transition: 0.25s ease-in-out;
        position: relative;

    }

    .navbar-conteudo.active span:nth-child(1) {
        transform: rotate(135deg);
        top: 7px;
    }

    .navbar-conteudo.active span:nth-child(2) {
        opacity: 0;
    }

    .navbar-conteudo.active span:nth-child(3) {
        transform: rotate(-135deg);
        top: -7px;
    }

}